<?xml version="1.0" encoding="UTF-8"?>
<plugin 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-amap-location" version="1.0.0">
  <name>AmapLocation</name>
  <description>Cordova Plugin for Amap Location</description>
  <license>ISC</license>
  <keywords>cordova,amap,location</keywords>
  <js-module src="www/amapLocation.js" name="AmapLocation">
    <clobbers target="AmapLocation" />
  </js-module>
  <preference name="ANDROID_KEY" />
  <preference name="IOS_KEY" />
  <platform name="ios">
    <pods-config ios-min-version="9.0" use-frameworks="true"></pods-config>
    <pod name="AMapLocation-NO-IDFA" />
    <config-file target="config.xml" parent="/*">
      <feature name="AmapLocation">
        <param name="ios-package" value="AmapLocation" />
      </feature>
      <preference name="IOS_KEY" value="$IOS_KEY" />
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
      <string>获取位置信息</string>
    </config-file>

    <framework src="src/ios/libs/AMapFoundationKit.framework" custom="true"/>
    <framework src="src/ios/libs/AMapLocationKit.framework" custom="true"/>
    <framework src="ExternalAccessory.framework"/>
    <framework src="GLKit.framework"/>
    <framework src="Security.framework"/>
    <framework src="CoreTelephony.framework"/>
    <framework src="SystemConfiguration.framework"/>
    <framework src="libc++.tbd"/>
    <framework src="libz.tbd"/>

    <header-file src="src/ios/AmapLocation.h" />
    <source-file src="src/ios/AmapLocation.m" />

  </platform>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AmapLocation">
        <param name="android-package" value="news.chen.yu.ionic.AmapLocation"/>
      </feature>
      <preference name="ANDROID_KEY" value="$ANDROID_KEY" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.amap.api.location.APSService"></service>
      <meta-data android:name="com.amap.api.v2.apikey" android:value="$ANDROID_KEY"></meta-data>
    </config-file>

    <framework src="src/android/AmapLocation.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/AmapLocation.java" target-dir="src/news/chen/yu/ionic" />
    <source-file src="src/android/libs/AMap_Location_V4.7.1_20190803.jar" target-dir="app/src/main/libs" />
    <source-file src="src/android/libs/arm64-v8a/libapssdk.so" target-dir="app/src/main/libs/arm64-v8a" />
    <source-file src="src/android/libs/arm64-v8a/libJni_wgs2gcj.so" target-dir="app/src/main/libs/arm64-v8a" />
    <source-file src="src/android/libs/armeabi/libapssdk.so" target-dir="app/src/main/libs/armeabi" />
    <source-file src="src/android/libs/armeabi/libJni_wgs2gcj.so" target-dir="app/src/main/libs/armeabi" />
    <source-file src="src/android/libs/armeabi-v7a/libapssdk.so" target-dir="app/src/main/libs/armeabi-v7a" />
    <source-file src="src/android/libs/armeabi-v7a/libJni_wgs2gcj.so" target-dir="app/src/main/libs/armeabi-v7a" />
    <source-file src="src/android/libs/x86/libapssdk.so" target-dir="app/src/main/libs/x86" />
    <source-file src="src/android/libs/x86/libJni_wgs2gcj.so" target-dir="app/src/main/libs/x86" />
    <source-file src="src/android/libs/x86_64/libapssdk.so" target-dir="app/src/main/libs/x86_64" />
    <source-file src="src/android/libs/x86_64/libJni_wgs2gcj.so" target-dir="app/src/main/libs/x86_64" />

  </platform>
</plugin>