<?xml version="1.0" encoding="UTF-8"?>
<plugin 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-amap-location" version="1.0.0">
  <name>AmapLocation</name>
  <description>Cordova Plugin for Amap Location</description>
  <license>ISC</license>
  <keywords>cordova,amap,location</keywords>
  <js-module src="www/amapLocation.js" name="AmapLocation">
    <clobbers target="AmapLocation" />
  </js-module>
  <preference name="ANDROID_KEY" />
  <preference name="IOS_KEY" />
  <platform name="ios">
    <pods-config ios-min-version="9.0" use-frameworks="true">
    </pods-config>
    <pod name="AMapLocation-NO-IDFA" />
    <config-file target="config.xml" parent="/*">
      <feature name="AmapLocation">
        <param name="ios-package" value="AmapLocation" />
      </feature>
      <preference name="IOS_KEY" value="$IOS_KEY" />
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
      <string>获取位置信息</string>
    </config-file>
    <header-file src="src/ios/AmapLocation.h" />
    <source-file src="src/ios/AmapLocation.m" />
  </platform>
  <!-- <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AmapLocation">
        <param name="android-package" value="news.chen.yu.ionic.AmapLocation"/>
      </feature>
      <preference name="ANDROID_KEY" value="$ANDROID_KEY" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="news.chen.yu.ionic.AmapLocation">
        <intent-filter>
          <action android:name="news.chen.yu.ionic.AmapLocation" />
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </activity>
    </config-file>
    <framework src="com.android.support:support-v4:+" value="gradle" />
    <framework src="src/android/AmapLocation.gradle" custom="true" type="gradleReference" />
    <resource-file src="src/android/libs/alicloud-android-feedback-3.1.0.aar" target="libs/alicloud-android-feedback-3.1.0.aar" />
    <resource-file src="src/android/libs/alicloud-android-monitor-2.5.1.1_for_bc_proguard.jar" target="libs/alicloud-android-monitor-2.5.1.1_for_bc_proguard.jar" />
    <resource-file src="src/android/libs/alicloud-android-utils-1.0.3.jar" target="libs/alicloud-android-utils-1.0.3.jar" />
    <resource-file src="src/android/libs/utdid4all-1.1.5.3_proguard.jar" target="libs/utdid4all-1.1.5.3_proguard.jar" />
    <source-file src="src/android/AmapLocation.java" target-dir="src/news/chen/yu/ionic" />
  </platform> -->
</plugin>